@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;800;900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.location-item:hover {
  box-shadow: inset 0 0 0 0.5px;
  cursor: pointer;
}
